<ul class="list-group">
    <li 
        class="list-group-item"
        *ngFor="let server of servers_list"
    >
    <div>
        <button 
            type="button" 
            class="close" 
            data-dismiss="alert" 
            aria-label="Close"
            (click)="onDeleteServer(server)"
            >
            <span aria-hidden="true">&times;</span>
        </button> 

        {{ server.name }}

        <div class="progress">
            <div 
                class="progress-bar" 
                [ngClass]="'progress-bar-' + getServerStatus(server.inUse)"
                role="progressbar" 
                aria-valuemin="0" 
                aria-valuemax="100" 
                [ngStyle]="{width: getServerLoading(server.inUse)}">
                {{ server.inUse | percent }}
            </div>
        </div>
    </div>    
    </li>
</ul>

<p *ngIf="servers_list.length == 0">{{ serverCreationStatus }}</p>

<input 
    type="text"
    class="form-control"
    style='width:15em'
    [(ngModel)]="servername"
>

<button 
    class="btn btn-primary"
    [disabled]="!allowAddingServer || servername === ''"
    (click)="onUpdateServerName()"> 
    add server {{ servername }}
</button>   

<button 
    type="button" 
    class="btn btn-default"
    (click)="onSortServersAsc()"
>sort asc</button>

<button 
    type="button" 
    class="btn btn-default"
    (click)="onSortServersDesc()"
>sort desc</button>


<p>{{ message }}</p>